/* shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
* {
  margin: 0;
  padding: 0;
}
.max-width {
  max-width: 1140px;
  margin: 0 auto;
}
/* navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
}
.nav-home {
  color: rgb(37, 36, 50);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}
.nav-shop {
  color: rgb(137, 135, 161);
  font-family: Inter;
  font-size: 16px;
}
.cart {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

/* banner styles */
.banner {
  display: flex;
  margin-bottom: 110px;
}
.banner-left {
  margin-top: auto;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: rgba(233, 90, 8, 1);
}
.always {
  color: rgba(0, 0, 0, 1);
}
.banner-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* section our plants */
.our-plants {
  margin-bottom: 150px;
}
.our-plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.our-plants-title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: rgba(233, 90, 8, 1);
  margin-bottom: 20px;
}
.plants {
  color: rgba(0, 0, 0, 1);
}
.our-plants-description {
  text-align: center;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.our-plants-card {
  max-width: 270px;
}

.flower-name {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  color: rgba(17, 17, 17, 1);
  margin-top: 15px;
  margin-bottom: 15px;
}
.flower-price {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 25px;
}
.card-btn {
  width: 100%;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 20px 50px;
  border: none;
}
/* plants lover section */
.plants-lover {
  display: flex;
  gap: 60px;
  position: relative;
  margin-bottom: 130px;
}
.plants-lover-right {
  margin-top: 38px;
}
.plants-lover-title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}
.plants-lover-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 30px;
}
.plants-lover-description li {
  margin-bottom: 20px;
}
.trusted-badge {
  position: absolute;
  width: 286px;
  height: 286px;
  left: 350px;
  top: -150px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
/* latest deals */
.latest-deal {
  margin-bottom: 120px;
}

.latest-deal-title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: rgba(233, 90, 8, 1);
}
.deals {
  color: rgba(0, 0, 0, 1);
}
.latest-deal-description {
  text-align: center;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 120px;
}
.latest-deal-card-container {
  display: flex;
  gap: 28px;
}
.latest-deal-card-container-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.latest-deal-card {
  position: relative;
}
.latest-deal-card div {
  color: white;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 90px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 20px;
}

.latest-deal-card .right {
  color: white;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 170px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 40px;
}
.latest-deal-card .right a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.latest-deal-card div a {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.latest-deal-card img {
  border-radius: 10px;
  filter: brightness(60%);
}

/* join section styles */
.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 533px;
}
.join-title {
  font-weight: 700;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-bottom: 24px;
}
.join-form {
  display: flex;
  justify-content: center;
}
.join-form input {
  width: 644px;
  background-color: white;
  padding: 19px 20px 19px 20px;
  border: none;
}
.join-form button {
  background-color: rgb(233, 90, 8);
  padding: 10px 60px 10px 60px;
  border: none;
  color: white;
}
/* footer section styles */
footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 30px;
}
.footer-first-section {
  width: 360px;
  font-family: "Noto Serif", serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.footer-second-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.footer-second-section a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}
.footer-third-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* media query for mobile */
@media screen and (max-width: 576px) {
  /* navbar */
  .nav-home,
  .nav-shop {
    display: none;
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
  }
  .banner img {
    width: 100%;
  }
  .banner-left {
    padding: 15px;
  }
  .banner-title {
    font-size: 24px;
  }
  .banner-description {
    font-size: 14px;
  }
  /* our plants section */
  .our-plants-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 10px;
  }
  .our-plants-card {
    max-width: 190px;
  }
  .our-plants-card img {
    width: 100%;
  }
  .our-plants-title {
    font-size: 24px;
  }
  .our-plants-description {
    font-size: 14px;
    text-align: center;
  }
  .flower-name,
  .flower-price {
    font-size: 16px;
  }
  .card-btn {
    padding: 10px 30px;
  }
  /* for plants lover */
  .plants-lover {
    flex-direction: column;
  }
  .plants-lover-left,
  .plants-lover-right {
    margin: 0 20px;
  }
  .plants-lover-left img {
    width: 100%;
  }
  .plants-lover-title {
    font-size: 24px;
  }
  .plants-lover-description {
    font-size: 14px;
  }
  .trusted-badge {
    display: none;
  }
  /* for latest deal
   */
  .latest-deal-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .latest-deal-description {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .latest-deal-card-container {
    flex-direction: column;
    padding: 0 20px;
  }
  .latest-deal-card-img {
    width: 100%;
  }
  .latest-deal-card .right {
    left: 90px;
    font-size: 20px;
  }
  .latest-deal-card .right a {
    font-size: 16px;
  }
  /* for join section */
  .join {
    background-size: cover;
    height: 275px;
  }
  .join-title {
    font-size: 20px;
  }
  .join-form input {
    width: 218px;
  }
  .join-form button {
    padding: 10px 20px 10px 20px;
  }
  /* footer section */
  footer {
    flex-direction: column;
    padding: 20px;
    gap: 25px;
  }
  .footer-second-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
